*{padding: 0;
margin: 0;
box-sizing: border-box;}


body{
  font-size: 15px;
  line-height: 150%;
  color: 999;
}

.header {
  background-color: #f1f1f1;
  width: auto;
  margin: auto;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px o;
}


.header a:hover {
  background-color: #ddd;
  color: black;
}

.main-logo-and-main-menu {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }



.main-logo {
  width: 30%;
}

.main-logo img {
  max-width: 100%;
}

.header-right ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: end;
}

.header-right ul li a {
  font-size: 16px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.header-right ul li a hover {
  background: red;
  color: white;
}
.header-right {
  width: 60%;
}

main {
  width: 1200px;
  margin: auto;
  padding: 10px;
  margin: 50px auto;
}

footer {
  background: antiquewhite;
  padding: 10px 0;
}

.footer-main nav ul {
  padding: 0;
  list-style: none;
}

.footer-item nav ul li a {
  padding: 10px 0 5px;
  text-decoration: none;
  font-family: serif;
  display: block;
  color: black;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: red;
color: white;
text-align: center;
}

.crab-three-box {
  width: 1200px;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  margin-top: 50px;
}

.crab-main {
  margin-top: 15px;
  margin-bottom: 30px;
}

input[type="text"] {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 30px;
  width: 311px;
  border: none;
}

button.subcrib-bottom {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100px;
  height: 25px;
  border-radius: 40px;
  border: 1px solid;
  cursor: pointer;
}

button.subcrib-bottom:hover {
  background: green;
  font-weight: bold;
  color: wheat;
}

input[type="text"]:hover {
  border: 3px solid skyblue;
}

.footer-main {
  width: 1200px;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.footer-main>nav>ul>li {
  list-style: none;

}

.footer>nav>ul {
  list-style: none;

}

.footer>nav>ul>li>a {
  text-decoration: none;
  color: black;
}

a.footer-text {
  font-weight: bold;
}

.footer>nav>ul>li>a:hover {
  border-bottom: 1px solid black;

}

.footer-2nd-box {
  width: 1200px;
  height: auto;
  margin: auto;
}

.design {
  height: auto;
  margin: auto;
  width: 1200px;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 10px;
}

.design h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-socialmedia>nav>ul {
  list-style: none;
  display: flex;
}

.footer-socialmedia>nav>ul>li {
  margin-left: 5px;
  margin-right: 5px;
}

.footer-socialmedia>nav>ul>li>a {
  color: black;
}

.footer-2nd-box {
  width: 1200px;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
